#header{
    background-color: #CC5D18;
    text-align: center;
    color: white;
    padding: 1px;
}

h2{
    margin: 0;
}

body{
    background-color: #e1e1e1;
    font-family: Calibri, Arial, Helvetica
}

#container{
    background-color: white;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    padding: 20px;
}

#nav{
    width: 200px;
    float: left;
}

#nav ul{
    list-style-type: none;
    padding: 20px 0px 0px 35px;
}

#main{
    width: 760px;
    float: right;
}
img{

    float: right;
    padding: 20px 50px 60px 10px;
}
#footer{
    text-align: right;
    clear: both;
    padding: 10px;
    background-color: white;
    position: fixed;
    bottom: 110px;
    right: 18%;
    
}